.projectContainer {
    /*border: 1px solid black;*/
}

.projectGrid {
    /*border: 0.2px solid grey;*/
    /*border-radius: 15px;*/
    padding: 1%;
    margin: 10%;
}

.projectTitle {
    padding: 2%;
}

.projectDescription {
    border: 0.2px solid grey;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(0, 0, 0, 0.10);
    padding: 2%;
}

.projectBox {
    border: 0.2px solid grey;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05),
    0 4px 10px rgba(0, 0, 0, 0.10);
    padding: 2%;
    justify-items: center;
}